* {
	box-sizing: border-box;
}
body {
	font-family: 'Quicksand';
}

/* navbar header  */
header {
	height: 20vh;
	width: 100vw;
	display: flex;
	background-color: #00a6ed;
	color: white;
}
#nav-home {
	flex-basis: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Righteous';
}
#nav-home h1 {
	flex-basis: 25vw;
}
#nav-links {
	flex-basis: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	list-style: none;
}
.nav-link {
	padding: 0.25rem 0;
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: white;
}

/* about section && biography  */

#about-parent {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: column;
}
#about-parent div {
	display: flex;
	flex-basis: 100vw;
	justify-content: center;
}
#about-parent p {
	padding: 0 1rem;
}

#about-parent img {
	width: 100%;
	height: auto;
}
