* {
	box-sizing: border-box;
}
body {
	font-family: 'Quicksand';
}

/* navbar header  */
header {
	height: 20vh;
	width: 100vw;
	display: flex;
	background-color: rgb(43, 179, 209);
	color: white;
}
#nav-home {
	flex-basis: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Righteous';
}
#nav-home h1 {
	flex-basis: 25vw;
}
#nav-links {
	flex-basis: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	list-style: none;
}
.nav-link {
	padding: 0.25rem 0;
	font-size: 1.25rem;
}

header a {
	text-decoration: none;
	color: white;
}

/* about section && biography  */

#about-parent {
	display: flex;
	/* width: 100vw; */
	/* height: auto; */
	flex-direction: column;
}
#about-parent div {
	display: flex;
	/* flex-basis: 100vw; */
	/* height: auto; */
	justify-content: center;
}
#about-parent p {
	padding: 0 1rem;
}

#about-parent img {
	width: 100%;
	height: 100%;
}

/* Projects section */

#projects-parent {
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}
#projects-parent h3 {
	text-align: center;
}

.project-image-parent {
	display: flex;
	justify-content: center;
}
.project-links {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	padding-bottom: 1rem;
}
.project-links a {
	text-decoration: none;
}
.project-break {
	width: 75vw;
}

#experience-parent {
	background-color: rgb(43, 179, 209);
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}

#experience-parent p,
#experience-parent h1,
#experience-parent h3,
#experience-parent a {
	color: white;
}

.experience-break {
	width: 75vw;
	border-top: none;
}
